.cards {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsContainer {
    /* border: 2px solid black; */
    
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}

.swipe {
    position: absolute;
    /* border: 2px solid orange; */
    margin-top: -20px;
}
.card {
    /* border: 2px solid blue; */
    position: relative;
    background-color: #fff;
    width: 500vw;
    padding: 20px;
    max-width: 50vw;
    height: 27vw;
    min-height: 350px;
    box-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.3) !important;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin: 42px 0;
}


.cardContent {
    width: 100%;
    height: 100%;
}

.card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
}

@media only screen and (max-width: 650px) {
    .card {
        width: 400vw;
        max-width: 70vw;
        height: 25vw;
        min-height: 400px;
    }
}

@media only screen and (max-width: 520px) {
    /* .card {
        width: 300px;
    } */
}