.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    /* border-bottom: 1px solid #f9f9f9; */
    /* background-color: #fff; */
    height: 60px;
    /* border: 2px solid black; */
}

.header .header_icon {
    color: white;
}

.header_logo {
    object-fit: contain;
    font-size: 30px;
    color: #ffe257;
    text-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_profile {
    object-fit: contain;
    font-size: 15px;
    color: #fff;
    text-shadow: 0 10px 43px 0 rgba(0, 0, 0, 0.3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_icon {
    padding: 20px;
}